<app-page-tittle (botaoEvent)=save() titulo="Cadastrar Livro" nomeBotao="Salvar"></app-page-tittle>
<div class="cadastro">
    <!-- <input type="file"> -->
    <form [formGroup]="cadastroForm" class="col-8">
        <div>
            <mat-form-field class="col-6">
                <mat-label>Nome do Livro</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>

            <mat-form-field class="col-3">
                <mat-label>TIPO</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>

            <mat-form-field class="col-3">
                <mat-label>CAPA</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>
        </div>

        <div>

        </div>


    </form>
    <app-book-card class="col-4"></app-book-card>
</div>