button {
    margin-bottom: 20px;
    background-color: #00C58D !important;
    color: rgb(235, 235, 235) !important;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}