<div class="dashboard">
  <div class="sidebar sidebar-wrapper">
    <div class="logo">
      <span style="color: #161F6A;">Pick</span><span style="color: #00C58D;">Books</span>
    </div>

    <div class="titulo">
      <h5>DASHBOARD</h5>
      <a [routerLink]="'/dashboard'" routerLinkActive="active">
        <mat-icon fontIcon="home"></mat-icon>
        <p>Dashboard</p>
      </a>
    </div>

    <div class="titulo">
      <h5>TABLE</h5>
      <a [routerLink]="[tabelaItem.path]" routerLinkActive="active" *ngFor="let tabelaItem of menuTabelas">
        <mat-icon fontIcon="home"></mat-icon>
        <p>{{tabelaItem.title}}</p>
      </a>
    </div>

  </div>
  <div class="router-component">
    <router-outlet></router-outlet>
  </div>
</div>